.formBackground{
    height: 100%;
    background-color: #57b8ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.AlbumsForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}
.InputContainers{
    display: flex;
    flex-direction: column;
}
