.albumImage{
    width: 140px;
    height: 140px;
    background-color: aqua;
}
.albumImage:hover{
    cursor: pointer;
}

#albumPageContainer{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, .5fr);
    gap: 10px;
}
.IndividualContainer{
    width: 140px;
    height: 200px;
    background-color: azure;
}
.titleContainer{
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
