.albumImage{
    width: 140px;
    height: 140px;
    background-image: url("../../images/spring-flowers-1613759017.jpg");
    object-fit: scale-down;
}
.albumImage:hover{
    cursor: pointer;
}

#albumPageContainer{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, .5fr);
    grid-gap: 10px;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    gap: 10px;
    background-color: cadetblue;
    justify-items: center;
    align-items: center;
}
.IndividualContainer{
    width: 140px;
    height: 200px;
    background-color: azure;
}
.titleContainer{
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
