.Pics{
    width: 140px;
    height: 140px;
    border:solid #fe6847;

}
#PicsPage{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, .5fr);
    grid-gap: 10px;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    gap: 10px;
    background-color: #57b8ff;
    justify-items: center;
    align-items: center;
    height: 100%;
}
.picContainer{
    display: flex;
    flex-direction: column;

}
#addPicButton{
    width: 140px;
    height: 140px;
}
.Plus-Icon{
    width: 40px;
    height: 40px;
}
.imageButtons{
    border-radius: 5px;
    padding: 5px;
    border: none;
    margin: 1px;
    transition: color .5s;
}

.imageButtons:hover{
    cursor: pointer;
    color: rgb(121, 121, 121);
}
